{# example Image 210x100 #}
{% set card_image = include('partials/card_image.html.twig',{image_width:250, image_height:100}) %}
{% set title_color = page.header.card.title_text_color ? page.header.card.title_text_color : '#d8d8d8' %}
{% set full_image = include('partials/card_image.html.twig') %}

{# Feahterlight - Global Active or Page Active and not Page disabled #}
{% if config.plugins.featherlight.enabled and ( config.plugins.featherlight.active or page.header.featherlight.active) and not (page.header.featherlight.active is defined and not page.header.featherlight.active) %}
	{% set lightbox = 'data-featherlight="image"' %}
{% endif %}

<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp ">
    <div class="mdl-card__media">
        <a href="{{full_image}}" {{lightbox}}> <img class="article-image" src="{{card_image}}" border="0" alt=""></a>
    </div>
    <div class="mdl-card__supporting-text">
        <small>{{page.title}}</small>
    </div>
    <div class="mdl-card__supporting-text">
        <p>{{page.content}}</p>
    </div>

</div>